---
single_numa_target_hardware: &single_numa_target_hardware
  cores: 9
  base_memory: 12GB
  numa: 1

small_target_1numa_4_passthrough_ssd_hardware: &small_target_1numa_4_passthrough_ssd_hardware
  cores: 9
  base_memory: 24GB
  numa: 1


small_target_1numa_6_passthrough_ssd_hardware: &small_target_1numa_6_passthrough_ssd_hardware
  cores: 9
  base_memory: 30GB
  numa: 1

tiny_target_1numa_hardware: &tiny_target_1numa_hardware
  cores: 5
  base_memory: 12GB
  numa: 1

dual_numa_target_hardware: &dual_numa_target_hardware
  cores: 18
  base_memory: 24GB
  numa: 2

bridge_network_config: &bridge_network_config
  networks:
  - name: net0
    type: bridge # or - passthrough
    bridge: vmbr0
  - name: net1
    type: bridge # or - passthrough
    bridge: data0
  # - name: net2
  #   type: bridge
  #   bridge: data0


passthrough_network_config: &passthrough_network_config
  networks:
  - name: net0
    type: bridge
    bridge: vmbr0
  - name: net1
    type: passthrough
  # - name: net2
  #   type: bridge
  #   bridge: data0

# name patterm: <role>-<size>-<numa-count>-<extra_info>
machine_types:
  target-small-1numa-large-emulated-ssd:
    name: target-small-1numa-large-emulated-ssd
    os_image: rocky-9-target
    properties:
      <<: [*single_numa_target_hardware, *bridge_network_config]
      base_memory: 20GB
      ssds:
        count: 6
        size: 20GB
        type: emulated # or - passthrough and size is ignored

  target-small-1numa-small-emulated-ssd: &base_target
    name: target-small-1numa-small-emulated-ssd
    os_image: rocky-9-target
    properties:
      <<: [*single_numa_target_hardware, *bridge_network_config]
      ssds:
        count: 4
        size: 2GB
        type: emulated # or - passthrough and size is ignored

  target-tiny-1numa-emulated-ssd:
    name: target-tiny-1numa-emulated-ssd
    os_image: rocky-9-target
    properties:
      <<: [*tiny_target_1numa_hardware, *bridge_network_config]
      ssds:
        count: 4
        size: 1GB
        type: emulated # or - passthrough and size is ignored

  target-small-1numa-4-passthrough-ssd:
    name: target-small-1numa-4-passthrough-ssd
    <<: *base_target
    properties:
      <<: [*small_target_1numa_4_passthrough_ssd_hardware, *bridge_network_config]
      ssds:
        count: 4
        type: passthrough

  target-small-1numa-6-passthrough-ssd:
    name: target-small-1numa-6-passthrough-ssd
    <<: *base_target
    properties:
      <<: [*small_target_1numa_6_passthrough_ssd_hardware, *bridge_network_config]
      ssds:
        count: 6
        type: passthrough

  initiator-small:
    name: initiator-small
    role: initiator
    os_image: ubuntu-24.04-initiator
    properties:
      cores: 1
      base_memory: 1GB
      numa: 1
      ssds: {}
      <<: *bridge_network_config

  observability-small:
    name: observability-small
    os_image: ubuntu-24.04-initiator
    properties:
      cores: 2
      base_memory: 4GB
      numa: 1
      networks:
      - name: net0
        type: bridge
        bridge: vmbr0

  dms:
    name: dms
    os_image: rocky-9-target
    properties:
      cores: 4
      base_memory: 12GB
      numa: 1
      networks:
      - name: net0
        type: bridge
        bridge: vmbr0
