networks:
  monitoring:

volumes:
  prometheus_data: {}

services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
    - /proc:/host/proc:ro
    - /sys:/host/sys:ro
    - /:/rootfs:ro
    command:
    - '--path.procfs=/host/proc'
    - '--path.rootfs=/rootfs'
    - '--path.sysfs=/host/sys'
    - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    expose:
    - 9100
    networks:
    - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
    - "9090:9090"
    volumes:
    #- ./etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    - ./etc/prometheus:/etc/prometheus
    - ./etc/prometheus/targets:/targets
    - prometheus_data:/prometheus
    command:
    - '--config.file=/etc/prometheus/prometheus.yml'
    - '--storage.tsdb.path=/prometheus'
    - '--web.console.libraries=/etc/prometheus/console_libraries'
    - '--web.console.templates=/etc/prometheus/consoles'
    - '--web.enable-lifecycle'
    expose:
    - 9090
    networks:
    - monitoring

  loki:
    image: grafana/loki:3.1.1
    container_name: loki
    restart: unless-stopped
    ports:
    - "3100:3100"
    volumes:
    - ./etc/loki/:/etc/loki
    - ./var/log:/var/log
    command: -config.file=/etc/loki/local-config.yaml
    networks:
    - monitoring

  promtail:
    image: grafana/promtail:3.1.1
    container_name: promtail
    volumes:
    - ./etc/promtail:/etc/promtail
    - ./var/log:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
    - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
    - "3000:3000"
    environment:
      UID: ${UID}
      GID: ${GID}
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
      GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_AUTH_DISABLE_SIGNOUT_MENU: "true"
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
    volumes:
    - ./var/lib/grafana/dashboards:/var/lib/grafana/dashboards
    - ./etc/grafana/provisioning:/etc/grafana/provisioning
    entrypoint:
      - sh
      - -euc
      - |
        /run.sh
    networks:
    - monitoring

  lbprox-dashboard:
    image: ${LBPROX_IMG}
    container_name: lbprox-dashboard
    restart: unless-stopped
    environment:
      UID: ${UID}
      GID: ${GID}
      UNAME: ${UNAME}
      DOCKER_GID: ${DOCKER_GID}
    ports:
    - "9000:9000"
    expose:
    - 9000
    networks:
    - monitoring
    volumes:
    - ${HOME}/.local/lbprox:${HOME}/.local/lbprox
    command: lbprox dashboard serve --observability-hostname 192.168.19.226

  lbprox-prom-discovery:
    image: ${LBPROX_IMG}
    container_name: lbprox-prom-discovery
    restart: unless-stopped
    depends_on:
    - prometheus
    environment:
      UID: ${UID}
      GID: ${GID}
      UNAME: ${UNAME}
      DOCKER_GID: ${DOCKER_GID}
    networks:
    - monitoring
    volumes:
    - ${HOME}/.local/lbprox:${HOME}/.local/lbprox
    - ./etc/prometheus/targets:/targets
    command: lbprox prom-discovery serve --interval 60 -t /targets
